<div *ngIf="appstate === 1" class="edit">
    <div>
        <form>
            <div><label for="Title">Title: <input id="edit-title" [(ngModel)] = "post.title" type="text" name="Title" [value]="post.title"></label></div>
            <div><label for="Body">Body: <textarea id="edit-body" [(ngModel)] = "post.body" cols="50" rows="10" name="Body">{{post.body}}</textarea></label></div>
        </form>
    </div>
    <div>
        Last Modified at {{toHumanReadable(post.modified)}}
    </div>
    <div>
        <button id="edit-save-button" (click)="savePostFunc(post);">Save</button>
        <button id="edit-preview-button" (click)="previewPostFunc(post);">Preview</button>
        <button id="edit-delete-button" (click)="deletePostFunc(post);">Delete</button>
    </div>
</div>
