<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Preview Post</title>
    </head>
    <body>
        <div>
            <%- title %>
            <div id="body"><%- body %></div>
        </div>
    </body>
</html>
